services:
  rabbitmq:
    image: rabbitmq:4.1.6-alpine
    ports:
      - 5672
    volumes:
      - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
      - ./logs:/var/log/rabbitmq
    networks:
      - services-network

  auth:
    image: youssefhassanien1/auth-service:latest
    env_file: ./auth.env
    depends_on:
      - rabbitmq
    command: node auth/main
    networks:
      - services-network
    volumes:
      - ./logs:/app/logs

  api-gateway:
    image: youssefhassanien1/api-gateway:latest
    env_file: ./api-gateway.env
    ports:
      - 4000
    depends_on:
      - rabbitmq
      - auth
      - doctor
      - ocr
      - asr
      - admin
      - cloud-storage
    command: node api-gateway/main
    networks:
      - services-network
    volumes:
      - ./logs:/app/logs
      - ./tmp/asr_uploads:/app/tmp/asr_uploads

  doctor:
    image: youssefhassanien1/doctor-service:latest
    env_file: ./doctor.env
    depends_on:
      - rabbitmq
    command: node doctor/main
    networks:
      - services-network
    volumes:
      - ./logs:/app/logs

  admin:
    image: youssefhassanien1/admin-service:latest
    env_file:
      - ./admin.env
    depends_on:
      - rabbitmq
    command: node admin/main
    networks:
      - services-network
    volumes:
      - ./logs:/app/logs

  ocr:
    image: youssefhassanien1/ocr-service:latest
    env_file:
      - ./ocr.env
    depends_on:
      - rabbitmq
    command: ['python', 'run_consumer.py']
    networks:
      - services-network
    volumes:
      - ./logs/ocr:/app/logs
      - paddleocr-cache:/root/.paddlex

  asr:
    image: youssefhassanien1/asr-service:latest
    env_file:
      - ./asr.env
    depends_on:
      - rabbitmq
    command: node asr/main
    networks:
      - services-network
    volumes:
      - ./logs:/app/logs
      - ./tmp/asr_uploads:/app/tmp/asr_uploads

  cloud-storage:
    image: youssefhassanien1/cloud-storage-service:latest
    env_file:
      - ./cloud-storage.env
    depends_on:
      - rabbitmq
    command: node cloud-storage/main
    networks:
      - services-network
    volumes:
      - ./logs:/app/logs

  nginx:
    image: nginx:latest
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt
      - ./logs:/var/log/nginx
    depends_on:
      - api-gateway
    networks:
      - services-network

volumes:
  paddleocr-cache:
    driver: local

networks:
  services-network:
    driver: bridge
