# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# # Environment
# .env
# .venv
# env/
# venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Models (keep openvino, ignore PyTorch backups)
*.pt

# Temporary files
temp_uploads/
runs/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
