name: Deploy to EC2

on:
  push:
    branches: [development]
    paths:
      [
        'apps/auth/**',
        'apps/doctor/**',
        'apps/api-gateway/**',
        'apps/ocr/**',
        'apps/speech-to-text/**',
        '.github/workflows/aws.dev.yml',
        'package.json',
        'package-lock.json',
      ]

  pull_request:
    branches: [development]
    paths:
      [
        'apps/auth/**',
        'apps/doctor/**',
        'apps/api-gateway/**',
        'apps/ocr/**',
        'apps/speech-to-text/**',
        '.github/workflows/aws.dev.yml',
        'package.json',
        'package-lock.json',
      ]

  workflow_dispatch:

jobs:
  # JOB 1: TEST (Runs on PRs AND Pushes)
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run Tests
        run: npm run test
